# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
[Rr]elease*/
[Bb]uild*/
*.dll
*.exe
*.app
*.apk

# Visual Studio Code settings
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg
.nuget/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Logs and database files
*.log
*.ldb
*.mdf
*.ldf

# Temporary files
*.tmp
*.cache
*.class
*.pyc
*.pyo
*.bak
*.swp

# Others
Thumbs.db
Desktop.ini
/Laboratorio 1.zip
/URL Repositorio.txt
